header{
    display: flex;
}

main{
    .all_lists__ctr{
        display: flex;
        flex-direction: column;
        .list_entry{
            height: 2em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &.add_list{
                width: 400px;
            }
        }
    }

    .list_ctr{
        width: 50dvw;
        display: flex;
        flex-direction: column;
    }
}