header{
    display: flex;
}

main{
    .all_lists__ctr{
        display: flex;
        flex-direction: column;
        .list_entry{
            height: 2em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &.add_list{
                width: 400px;
            }
        }
    }

    .list_ctr{
        width: 50dvw;
        display: flex;
        flex-direction: column;
        .list_ctr__items{
            display: flex;
            flex-direction: column;
            .list_ctr__item{
                margin: 10px 0;
                display: grid;
                grid-template-areas: 
                    "status title delete"
                    "empty desc desc";
                grid-template-columns: 100px 1fr 50px;
                select{
                    grid-area: status;
                }
                input{
                    grid-area: title;
                }
                button{
                    grid-area: delete;
                }
                textarea{
                    grid-area: desc;
                }
            }
        }
    }
}