/* You can add global styles to this file, and also import other style files */
@import "modules";

$accent: #0049DF;
$lightAccent: #87A6D5;
$lightGray: #EEF0F4;

html{
    font-family: "Jost", sans-serif;
}

body{
    @include square();
    margin: 0;
    @include flex(column);
    app-root{
        @include square();
    }
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    &.nav_button{
        @include rect(8em, 2em, 1em);
        margin-top: 1em;
        background-color: $lightAccent;
        font-size: 0.33em;
        color: white;
        @include flex(row, center, center);
        transition: background-color 0.33s ease;
        &:hover{
            background-color: $accent;
        }
    }
}

input, textarea{
    all: unset;
    border: 2px solid transparent;
    transition: border-color 0.15s ease-in-out;
    font-family: "Jost", sans-serif;
    &:hover{
        border-color: $lightAccent;
    }
    &:focus, &:active{
        border-color: $accent;
    }
}

