<!-- <div class="list_item">
    <select name="itemStatus" id="itemStatus{{item.uuid}}" [value]="item.status">
        <option value="to_do">To do</option>
        <option value="in_progress">In progress</option>
        <option value="on_hold">On hold</option>
        <option value="completed">Completed!</option>
    </select>
    <input type="text" id="itemTitle{{item.uuid}}" #editedTitle (change)="item.title = #editedTitle.value" placeholder="new list item" [value]="item.title">
    <button title="Delete this entry" (click)="remove.emit()"><img src="./img/trash.svg"></button>
    <textarea placeholder="description" rows="3" #editedDesc (change)="item.desc = editedDesc.value">{{item.desc}}</textarea>
</div> -->

<div class="list_item">
    <select name="itemStatus" [value]="item.status" #editedStatus (change)="item.status = editedStatus.value; saveItems.emit();">
        <option value="to_do">To do</option>
        <option value="in_progress">In progress</option>
        <option value="on_hold">On hold</option>
        <option value="completed">Completed</option>
    </select>
    <input type="text" #editedTitle [id]="item.uuid" [value]="item.title" (change)="item.title = editedTitle.value"/>
    <button (click)="remove.emit()">Delete</button>
    <textarea placeholder="Add a description" rows="3" #editedDesc (change)="item.desc = editedDesc.value">{{item.desc}}</textarea>
</div>