header{
    width: 100%;
    display: flex;
    background: blue;
    justify-content: space-between;
    h1{
        color: white;
    }
    button{
        background: none;
    }
}
main{
    display: flex;
    flex-direction: column;
}
