<main class="main">
  <header><h1>{{ title }}</h1></header>
  @if (currentList.uuid !== 0){
    <!-- list is loaded, show its content here -->
    <!-- <h2>{{currentList.title}}</h2> -->
    <button (click)="unsetCurrentList();">Back to all lists</button>
    <input #listTitle [value]="currentList.title" (change)="currentList.title = listTitle.value; saveItems();"/>
    <div class="list_item__ctr">
      @for(item of items; track item.uuid){
        <app-listitem (remove)="remove(item)" (saveItems)="saveItems()" [item]="item"></app-listitem>
      }
    </div>
    <button (click)="addItem()">Add</button>
  } @else {
    <h2>Load a task list below, or create a new one to get started!</h2>
    @for (list of lists; track list.uuid){
      <div class="list_row">
        <h3>{{list.title}}</h3>
        <button #loadList [id]="list.uuid" (click)="setList(loadList.id)">Load</button>
      </div>
    }
    <button (click)="generateNewList()">Add a new list</button>
  }

</main>

<router-outlet />
