<main class="main" (window:resize)="onResize($event)" style="font-size: {{font}}px;">
  <header>
    <h1>{{ title }}</h1>
    <button>?</button>
  </header>
  @if (currentList.uuid !== 0){
    <!-- list is loaded, show its content here -->
    <div class="list_ctr">
      <button (click)="unsetCurrentList();" class="nav_button">Back to all lists</button>
      <input #listTitle placeholder="Add a title" id="listTitle" [value]="currentList.title" (change)="currentList.title = listTitle.value; saveItems();"/>
      <div class="list_ctr__items">
        @for(item of items; track item.uuid){
          <app-listitem (remove)="remove(item)" (saveItems)="saveItems()" [item]="item"></app-listitem>
        }
      </div>
      <button class="nav_button add_item_to_list" (click)="addItem()" title="Add new entry"><img src="../assets/plus.svg"></button>
    </div>
  } @else {
    <div class="all_lists__wrapper">
      <h2>Load a task list below, or create a new one to get started!</h2>
      <div class="all_lists__ctr">
        @for (list of lists; track list.uuid){
          <div class="list_entry" #loadList [id]="list.uuid" (click)="setList(loadList.id)">
            <img src="../assets/carat.svg" class="list_entry__icon">
            <div class="list_entry__title">{{list.title}}</div>
            <button class="list_entry__button">Load list <img src="../assets/arrow.svg"></button>
          </div>
        }
      </div>
      <button class="add_list nav_button" (click)="generateNewList()">Add a new list</button>
    </div>
  }

</main>

<router-outlet />
